body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.title {
  font-family: 'David Libre', serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.title h2 {
  font-size: 42px;
}

.content {
  padding-bottom: 30px;
}

.plot-row {
  padding: 0 80px;
}

.footer {
  border-top: 1px solid #ccc !important;
}

.footer a {
  color: #525252;
  text-decoration: underline;
}

.footer a:hover{
  color: black;
}

.notes {
  padding-top: 20px;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #525252;
}

h6 {
  font-size: 12px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .title h2 {
    font-size: 24px;
  }

  .main-text, .notes {
    padding: 0 30px;
  }
}

.country-line {
  fill: none;
  stroke: #f04e33;
  stroke-opacity: 0.3;
  stroke-width: 2.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.country-line.closer {
  stroke: #00a7c0;
}

.country-line.highlighted {
  stroke-opacity: 0.8;
}

.country-line.hidden {
  stroke: lightgray;
  stroke-opacity: 0.2;
}

.country-circle {
  fill: #f04e33;
}

.country-circle.closer {
  fill: #00a7c0;
}

.country-circle.highlighted {
  opacity: 1.0;
}

.country-circle.hidden {
  fill: lightgray;
  opacity: 0.2;
}

.plot {
  font-family: 'Lato', sans-serif;
}

.viz-tooltip {
  font-size: 14px;
}

.plot-title {
  font-weight: 700;
}
